<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <div>
    <h1>Members</h1>
     <% group.users.each do |member| %>
     <div class="">
        <%= member.email %>
     </div>
    <% end %>
  </div>

</div>
