<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>

    <% group.users.each do |member| %>
      <strong>Member:</strong>
      <%= member.email %>
    <% end %>
  </p>

</div>
